/*登入失敗錯誤訊息用*/
#showError {
    display: none;
}
/*登入失敗錯誤訊息用*/
/*上方導覽列*/
.Home-header {
    line-height: 1;
    border-bottom: 3px solid #009393;
}

.Home_nav {
    all: initial;
    cursor: pointer !important;
    text-decoration: none !important;
}

    .Home_nav:hover {
        all: initial;
        text-decoration: none !important;
    }

.nav_li_a {
    all: initial;
    cursor: pointer !important;
    color: white;
    margin-bottom: 3px;
}

    .nav_li_a:hover {
        all: initial;
        cursor: pointer !important;
        color: white;
        margin-bottom: 3px;
    }

.nav_ul {
    list-style-type: none;
    background-color: #6c6c6c;
    position: fixed;
    text-align: left;
    display: none
}

.nav_li {
    margin: 5px;
    border-bottom: 1px solid #ce0000;
    height: 30px;
}
/*上方導覽列*/
/*動畫條使用*/
.nav_animate_green {
    background-color: #009393;
    width: 0px;
    height: 2px;
    display: block;
}

.nav_animate_gray {
    background-color: #ce0000;
    width: 0px;
    height: 2px;
    display: block;
}
/*動畫條使用*/
/*頁尾使用*/
.footer_use {
    background-color: #009393;
    /*margin: 0 auto;*/
    height:175px !important;
    text-align: center;
}

    .footer_use ul {
        list-style-type: none;
    }

.footer_use_gray {
    background-color: gray;
    /*margin: 0 auto;*/
    height: 155px !important;
    text-align: center;
}

    .footer_use_gray ul {
        list-style-type: none;
    }

.footer_main_li {
    color: white;
    font-size: 20px;
}

.footer_rest_li {
    color: white;
    font-size: 14px;
}
/*頁尾使用*/
