@model IEnumerable<Volunteer_Web.Models.Stage>
<style>
    body {
        background-color: #eee;
    }

    .mailbox {
        min-width: 240px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
    }

        .mailbox header {
            background-color: #444;
            text-align: center;
            color: #f5f5f5;
            font-size: 20px;
            padding: 1rem;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

        .mailbox .list-group-item:first-child {
            border-radius: 0;
        }

        .mailbox .list-group-item {
            padding: 1.8rem 2rem;
            font-size: 18px;
            font-weight: bold;
            color: #888;
            line-height: 0px;
        }

            .mailbox .list-group-item.active {
                background-color: #888;
                border-color: #888;
                color: #f5f5f5;
            }

                .mailbox .list-group-item.active span.glyphicon {
                    color: #f5f5f5;
                }

                .mailbox .list-group-item.active span.badge {
                    background-color: #e79f1c;
                    color: #f5f5f5;
                }

            .mailbox .list-group-item span.glyphicon {
                width: 40px;
                color: #444;
                font-size: 20px;
                margin-right: 1rem;
            }

            .mailbox .list-group-item span.badge {
                background-color: #888;
                position: relative;
                top: 3px;
            }

        .mailbox .list-group-toggle {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: #fff;
            display: block;
            border: 1px solid #ddd;
            padding: 2rem 3rem;
            color: #888;
        }

            .mailbox .list-group-toggle:hover {
                text-decoration: none;
                background-color: #f5f5f5;
            }

            .mailbox .list-group-toggle span.caret {
                margin-left: 6px;
                position: relative;
                top: -1px;
            }

            .mailbox .list-group-toggle.less-toggle, .mailbox .list-group-toggle.more-toggle {
                font-size: 16px;
                font-weight: normal;
            }

                .mailbox .list-group-toggle.less-toggle span.caret {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

</style>


<div class="list-group" role="tablist">
    <div class="container">
        <div class="row">
                <div class="mailbox">
                    <header>篩選階段</header>
                    <div class="list-group">
                        <a href="~/Abnormalevent/Index/-1" class="list-group-item list-group-item-action" id="-1">全部階段</a>
                        @foreach (var stage in Model)
                        {
                            @Html.ActionLink(stage.Stage1, "Index", "Abnormalevent", new { id = stage.Stage_ID }, new { @class = "list-group-item list-group-item-action", @id = stage.Stage_ID })
                        }
                    </div><!-- End of List Group -->
                </div><!-- End of Mailbox -->
        </div><!-- End of Row -->
    </div><!-- End of Container -->
</div>
@section Home_script{
    <script></script>
}