.home-button {
    background-color: #2faf97;
    background-image: linear-gradient(45deg, #2faf97 0%, #50bac4 100%);
    width: 250px;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

    .home-button:hover {
        background: #fff;
        color: #2faf97;
    }

    .home-button:before, button:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background-color: #2faf97;
        background-image: linear-gradient(45deg, #2faf97 0%, #ababab 100%);
        transition: 400ms ease all;
    }

    .home-button:focus {
        outline: none;
    }

    .home-button:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .home-button:hover:before, button:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }
