
@{
    ViewBag.Title = "Index";
}



<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">近期焦點</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="#">活動名稱</a>
                </h3>
                <div class="mb-1 text-muted"> 更新日期</div>
                <p class="card-text mb-auto">活動簡介</p>
                <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">志工招募</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="#">我要成為志工</a>
                </h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="card-text mb-auto">招募辦法</p>
                <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
        </div>
    </div>
</div>

