
@{
    ViewBag.Title = "Index";
}

@section Home_style{
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        div.vision-news-loop{margin:15px 0px;}
        div.vision-news-loop:hover div.vision-thumbnails img.vision-news-photo{
            -webkit-transform: scale(1.1, 1.1);
            -moz-transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            -o-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
        }
        div.vision-news-loop div.vision-thumbnails img.vision-news-photo,div.vision-news-loop:hover div.vision-thumbnails img.vision-news-photo{
            -webkit-transition: all 0.9s;
            -moz-transition: all 0.9s;
            -o-transition: all 0.9s;
            transition: all 0.9s;
        }
        div.vision-news-loop div.mask,div.vision-news-loop:hover div.mask{
           -webkit-transition: all 0.35s;
           -moz-transition: all 0.35s;
           -o-transition: all 0.35s;
           transition: all 0.35s;
        }
        div.vision-news-loop div.mask{position:absolute;top:0px;right:0px;width:50%;height:100%;background-color:rgba(0,0,0,0.77);z-index:2;padding:30px;color:#BBB;}
        div.vision-news-loop:hover div.mask{width:100%;}
        span.news-date{color:#3CBBE8;font-size:18px;font-weight:bold;}
        div.vision-news-loop div.mask h3{color:#FFF;}
        div.vision-news-loop:hover div.mask h3{color:#3CBBE8;}
        div.news-more{color:#3CBBE8;margin-top:15px;}

        @@media (min-width:992px) and (max-width:1199px){
	       div.vision-news-loop div.mask h3{font-size:20px;}
        }
        @@media (min-width:768px) and (max-width:991px){
	       div.vision-news-loop div.mask{padding:15px;}
	       span.news-date{font-size:14px;}
	       div.vision-news-loop div.mask h3{font-size:16px;margin-top:5px;}
        }
        @@media (max-width: 540px) {
	       div.vision-news-loop div.mask{padding:15px;}
	       span.news-date{font-size:14px;}
	       div.vision-news-loop div.mask h3{font-size:16px;margin-top:5px;}
	       div.vision-news-loop div.mask{width:100%;}
        }

    </style>    
}


<div id="myCarousel" class="carousel slide">
    <!-- 輪播（Carousel）指標 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- 輪播（Carousel）項目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/292-12-3.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="~/Images/299-06-1.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="~/Images/maxresdefault.jpg" alt="Third slide">
        </div>
        <div class="item">
            <img src="~/Images/志工隊介紹用.jpg" alt="Four slide">
        </div>
        <div class="item">
            <img src="~/Images/志工隊介紹用.jpg" alt="Five slide">
        </div>
    </div>
    <!-- 輪播（Carousel -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- 控制按钮 -->

<div style="text-align:center">
    <input type="image" src="~/Images/292-12-3.jpg" data-target="#myCarousel" data-slide-to="0" class="btn" style="width:20rem;">
    <input type="image" src="~/Images/299-06-1.jpg" data-target="#myCarousel" data-slide-to="1" class="btn" style="width:20rem;">
    <input type="image" src="~/Images/maxresdefault.jpg" data-target="#myCarousel" data-slide-to="2" class="btn" style="width:20rem;">
    <input type="image" src="~/Images/志工隊介紹用.jpg" data-target="#myCarousel" data-slide-to="3" class="btn" style="width:20rem;">
    <input type="image" src="~/Images/志工隊介紹用.jpg" data-target="#myCarousel" data-slide-to="" class="btn" style="width:20rem;">
</div>

<div class="row mb-2">
    <div class="col-sm-6 vision-news-loop">
        <a href="/Home/Activity" target="_top" title="績優志工簡介">
            <div class="vision-thumbnails">
                <div class="thumbnails-2by1">
                    <div class="mask">
                        <span class="news-date">
                            更新日期
                        </span>
                        <h3>績優志工簡介</h3>
                        簡介內容 動簡介內容 簡介內容 簡介內容 簡介內容
                        <div class="news-more"><i class="fa fa-angle-right"></i> read more</div>
                    </div>
                    <img src="~/Images/5-16620-1.jpg" alt="績優志工簡介" class="img-responsive vision-news-photo" />
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 vision-news-loop">
        <a href="/Home/Activity" target="_top" title="志工招募">
            <div class="vision-thumbnails">
                <div class="thumbnails-2by1">
                    <div class="mask">
                        <span class="news-date">
                            我要成為志工
                        </span>
                        <h3>招募辦法</h3>
                        XXXXXXXXXX
                        <div class="news-more"><i class="fa fa-angle-right"></i> read more</div>
                    </div>
                    <img src="~/Images/images (1).jpg" alt="志工招募" class="img-responsive vision-news-photo" />
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row m-1">
    <div class="m-5">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div>
    <div class="m-5">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div>
    <div class="m-5">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div>

</div>

<div class="row">
    <div class="col-md-12 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            相關聯絡資訊
        </h3>
        <div class="blog-post col-md-3">
            <h2 class="blog-post-title" style="font-size:large">主任辦公室</h2>
            <h2 class="blog-post-title" style="font-size:large">明倫身障服務中心</h2>
            <h2 class="blog-post-title" style="font-size:large">癌症資源中心</h2>
            <h2 class="blog-post-title" style="font-size:large">志工室</h2>
            <hr>
        </div>
        <div class="blog-post col-md-3">
            <h2 class="blog-post-title" style="font-size:large">02-77282937</h2>
            <h2 class="blog-post-title" style="font-size:large">02-77281283</h2>
            <h2 class="blog-post-title" style="font-size:large">02-77281709</h2>
            <h2 class="blog-post-title" style="font-size:large">02-77281285</h2>
            <hr>
        </div>
        <div class="blog-post col-md-4">
            <h2 class="blog-post-title" style="font-size:large">明倫病友家庭服務中心</h2>
            <h2 class="blog-post-title" style="font-size:large">福利諮詢暨輔具租借櫃檯</h2>
            <h2 class="blog-post-title" style="font-size:large">淑宜的幸福小棧</h2>
        </div>
        <div class="blog-post col-md-2">
            <h2 class="blog-post-title" style="font-size:large">02-77281278</h2>
            <h2 class="blog-post-title" style="font-size:large">02-77281277</h2>
            <h2 class="blog-post-title" style="font-size:large">02-77380799</h2>
        </div>
    </div>

    
</div>


@section Home_script{

}



