
@{
    ViewBag.Title = "Interview_period";
}


<br />
<br />
<style>

    table {
        table-layout: fixed;
        word-break: break-word;
        width: 100%;
        /*overflow-wrap:break-word;*/
    }

    th, td {
        text-align: center;
        /*width:100%*/
    }

    button {
        /*width:50%;*/
        margin: 3px;
    }
</style>
<h2 id="Pv_title">面試時間調查</h2>
<p>請在能夠面試的日期中，填入數字1</p>
<table class="table table-bordered " >
    <thead>
        <tr>
            <th></th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>上午</td>
            <td data-service_period_no="1"><p></p></td>
            <td data-service_period_no="4"><p></p></td>
            <td data-service_period_no="7"><p></p></td>
            <td data-service_period_no="10"><p></p></td>
            <td data-service_period_no="13"><p></p></td>
        
        </tr>
        <tr>
            <td>下午</td>
            <td data-service_period_no="2"><p></p></td>
            <td data-service_period_no="5"><p></p></td>
            <td data-service_period_no="8"><p></p></td>
            <td data-service_period_no="11"><p></p></td>
            <td data-service_period_no="14"><p></p></td>
        </tr>
    </tbody>
</table>
<button id="btn_edit" class="btn btn-info ">編輯</button>
<button id="btn_insert_interview" class="btn btn-info ">儲存</button>