
@{
    ViewBag.Title = "Introduction";
}

@section Home_style{
    <style>
        .fontstyle {
            font-size: 20px;
            font-family: 微軟正黑體;
        }
    </style>
}

<div class="row mt-4">
    <div class="col-md-10 blog-main fontstyle">
        <p>志工隊介紹</p>
        <hr />
        <p>一、志工服務隊緣起：</p>
        <p>民國74年，本院嘗試與亞東工專(現改制為亞東技術學院)之慈幼社合作開辦兒童病房慰問服務活動；民國76年亦合作開辦病房圖書推車之志願服務，此為現今志工隊前身。</p>
        <p>民國79年，本院針對婦女朋友推出「第二道彩虹」之志工招募活動，並建立社會人士志願服務組織及服務、訓練辦法，志願服務隊自此正式成立運作。</p>
        <p>&nbsp;</p>
        <p>二、服務宗旨：</p>
        <p>為提升對病患之服務，增進病患的福利；並提供社區居民參與服務人群的機會，使有心人士可透過服務，學習實踐「施比受更有福，予比求更快樂」的人生寶貴意義。</p>
        <p>&nbsp;</p>
        <p>三、服務內容：</p>
        <p>亞東醫院志工隊共服務組別共分為8大類組，40小組，以下分別針對8大類組介紹：</p>
        <p>1. 診區服務類：協助指引病患報到、看診及住院等就醫流程相關事宜</p>
        <p>2. 急診服務類：協助病患量血壓、體溫、引導及陪伴</p>
        <p>3. 檢查服務類：協助病患填寫資料、測量身高、體重、血壓及體溫</p>
        <p>4. 福利關懷類：主動病房探視、陪伴及社會福利諮詢</p>
        <p>5. 癌症服務類：主動病房探視、陪伴及治療與疾病適應經驗分享</p>
        <p>6. 婦幼服務類：早期療育篩檢、兒童遊戲室維護、親善母乳哺育</p>
        <p>7. 影像服務類：協助病患報到、引導批價、並指導更衣進行檢查</p>
        <p>8. 綜合服務類：協助初診病歷、紗布、敷料製作，或圖書整理、活動企劃等支援</p>
        <p>&nbsp;</p>
        <p>四、得獎紀錄：</p>
        <p>亞東醫院志願服務工作隊每年隊上得獎人數大約500人，且獲獎人數逐年增加。另外，在102年同時獲頒衛生福利部全國績優團隊獎，以及新北市社會局績優志工團隊獎，在同一年獲得全國及地方的肯定，大大的鼓舞了志工的士氣。</p>
        <p>&nbsp;</p>
        <div>
            <img src="~/Images/志工隊介紹用.jpg" style="height:433px; width:650px"/>
        </div>        
    </div>
</div>

