@{
    ViewBag.Title = "Kind_of";
}
<br />
<br />
<br />



<table id="Kind_of_choose" width="700" height="300">
    <tbody>
        <tr>
            <td id="social" style="background-color:antiquewhite">
                <text id="social_label">社會志工</text>
            </td>
            <td><div></div></td>
            <td id="student" style="background-color:aqua">
                <text id="student_label">學生志工</text>
            </td>
        </tr>

        <tr>
            <td id="social_td"><img class="social_img" src="~/Images/images(2).jpg" /></td>
            <td><div id="content" style="opacity:0"></div></td>
            <td id="student_td"><img class="student_img" src="~/Images/images (1).jpg" /></td>
        </tr>
    </tbody>
</table>

