
@{
    ViewBag.Title = "NewVolunteer";
}


<div class="row mt-4">
    <div class="col-lg-3">
        <div class="btn btn-block">
            申請步驟
        </div>
        <table class="table table-bordered">
            <thead></thead>
            <tbody>
                <tr><td><a href="~/Home/NewVolunteer/1" class="btn btn-outline-info btn-block" value="Requirements">申請須知</a></td></tr>
                <tr><td><a href="~/Home/NewVolunteer/2" id="basic_info" class="btn btn-outline-info btn-block" value="basic_info">基本資料</a></td></tr>
                <tr><td><a href="~/Home/NewVolunteer/3" id="Questionnaire" class="btn btn-outline-info btn-block" value="Questionnaire">問券調查</a></td></tr>
                <tr><td><a href="~/Home/NewVolunteer/4" id="Service_period" class="btn btn-outline-info btn-block" value="Service_period">服務時段調查</a></td></tr>
                <tr><td><a href="~/Home/NewVolunteer/5" class="btn btn-outline-info btn-block">人格測驗</a></td></tr>
                <tr><td><a href="~/Home/NewVolunteer/6" id="Alldata_check" class="btn btn-outline-info btn-block" value="Alldata_check">資料確認</a></td></tr>
                <tr><td><a href="~/Home/NewVolunteer/7" id="Requirement_ok" class="btn btn-outline-info btn-block" value="Requirement_ok">申請完成</a></td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-9">
        <div class="card-body">
            @{
                string Partilview = ViewBag.Partilview;
            }
            @Html.Action(Partilview)
        </div>
    </div>
</div>

@section Home_script{
    <script>
        $(document).ready(function () {
            $('a[value = "@ViewBag.Partilview"]').addClass('active');
        })
    </script>
}