<h2>Questionnaire問券調查</h2>
<br />
<br />
<form action="~/Home/Questionnaire" method="post">
    <div id="Q1">
        <h4>一、為何想成為志工(可複選)</h4>
        <input class="form-check-input" type="checkbox" name="Q1" value="1回饋社會" id="回饋社會">
        <label class="form-check-label">回饋社會</label>
        <input class="form-check-input" type="checkbox" name="Q1" value="2打發時間" id="打發時間">
        <label class="form-check-label">打發時間</label>
        <input class="form-check-input" type="checkbox" name="Q1" value="3體驗志願服務工作" id="體驗志願服務工作">
        <label class="form-check-label">體驗志願服務工作</label>
        <input class="form-check-input" type="checkbox" name="Q1" value="4交朋友" id="交朋友">
        <label class="form-check-label">交朋友</label>
        <input class="form-check-input" type="checkbox" name="Q1" value="5想多了解醫學常識" id="想多了解醫學常識">
        <label class="form-check-label">想多了解醫學常識</label>
        <input class="form-check-input" type="checkbox" name="Q1" value="6其他" id="其他_為何想成為志工">
        <label class="form-check-label">其他</label>
        <input type="text" name="Q1else" />
    </div>
    <hr />
    <div id="Q2">
        <h4>二、您為何選擇亞東醫院做志工服務?(可複選)</h4>
        <input class="form-check-input" type="checkbox" value="1離家近" id="離家近" name="Q2">
        <label class="form-check-label">離家近</label>
        <input class="form-check-input" type="checkbox" value="2志工隊服務績效良好" id="志工隊服務績效良好" name="Q2">
        <label class="form-check-label">志工隊服務績效良好</label>
        <input class="form-check-input" type="checkbox" value="3具組織規模" id="具組織規模" name="Q2">
        <label class="form-check-label">具組織規模</label>
        <input class="form-check-input" type="checkbox" value="4志工福利健全" id="志工福利健全" name="Q2">
        <label class="form-check-label">志工福利健全</label>
        <input class="form-check-input" type="checkbox" value="5有認識的人在醫院" id="有認識的人在醫院" name="Q2">
        <label class="form-check-label">有認識的人在醫院</label>
        <input class="form-check-input" type="checkbox" value="6想當志工時恰巧看到志工招募的消息" id="想當志工時恰巧看到志工招募的消息" name="Q2">
        <label class="form-check-label">想當志工時恰巧看到志工招募的消息</label>
        <input class="form-check-input" type="checkbox" value="7對醫院有特殊情感" id="對醫院有特殊情感(如:曾有良好就醫經驗,想回饋)" name="Q2">
        <label class="form-check-label">對醫院有特殊情感(如:曾有良好就醫經驗,想回饋)</label>
        <input class="form-check-input" type="checkbox" value="8其他" id="其他_您為何選擇亞東醫院做志工服務" name="Q2">
        <label class="form-check-label">其他</label>
        <input type="text" name="Q2else" />
    </div>
    <hr />
    <div id="Q3">
        <h4>三、您是由何處得知亞東醫院招募志工的消息?(可複選)</h4>
        <input class="form-check-input" type="checkbox" value="1報紙" id="報紙" name="Q3">
        <label class="form-check-label">報紙</label>
        <input class="form-check-input" type="checkbox" value="2紅布條" id="紅布條" name="Q3">
        <label class="form-check-label">紅布條</label>
        <input class="form-check-input" type="checkbox" value="3宣傳單" id="宣傳單" name="Q3">
        <label class="form-check-label">宣傳單</label>
        <input class="form-check-input" type="checkbox" value="4海報" id="海報" name="Q3">
        <label class="form-check-label">海報</label>
        <input class="form-check-input" type="checkbox" value="5親友介紹" id="親友介紹" name="Q3">
        <label class="form-check-label">親友介紹</label>
        <input class="form-check-input" type="checkbox" value="6自己來電詢問得知" id="自己來電詢問得知" name="Q3">
        <label class="form-check-label">自己來電詢問得知</label>
        <input class="form-check-input" type="checkbox" value="7網路" id="網路" name="Q3">
        <label class="form-check-label">網路</label>
        <input class="form-check-input" type="checkbox" value="8本院志工介紹" id="本院志工介紹" name="Q3">
        <label class="form-check-label">本院志工介紹</label>
        <input class="form-check-input" type="checkbox" value="9醫生介紹" id="醫生介紹" name="Q3">
        <label class="form-check-label">醫生介紹、科別</label>
        <input type="text" name="Q3doc" />
        <br />
        <input class="form-check-input" type="checkbox" value="10醫院的電視廣告介紹" id="醫院的電視廣告介紹" name="Q3">
        <label class="form-check-label">醫院的電視廣告介紹</label>
    </div>
    <hr />
    <div id="Q4">
        <h4>四、您以前與亞東醫院的互動關係為?(可複選)</h4>
        <input class="form-check-input" type="checkbox" value="1離職員工" id="離職員工" name="Q4">
        <label class="form-check-label">離職員工</label>
        <input class="form-check-input" type="checkbox" value="2曾任院內志工" id="曾任院內志工" name="Q4">
        <label class="form-check-label">曾任院內志工</label>
        <input class="form-check-input" type="checkbox" value="3員工眷屬" id="員工眷屬" name="Q4">
        <label class="form-check-label">員工眷屬</label>
        <input class="form-check-input" type="checkbox" value="4本院病患" id="本院病患" name="Q4">
        <label class="form-check-label">本院病患</label>
        <input class="form-check-input" type="checkbox" value="5本院病患家屬" id="本院病患家屬" name="Q4">
        <label class="form-check-label">本院病患家屬</label>
        <input class="form-check-input" type="checkbox" value="6曾參與過本院相關活動" id="曾參與過本院相關活動" name="Q4">
        <label class="form-check-label">曾參與過本院相關活動</label>
        <input class="form-check-input" type="checkbox" value="7無任何互動經驗" id="無任何互動經驗" name="Q4">
        <label class="form-check-label">無任何互動經驗</label>
        <input class="form-check-input" type="checkbox" value="8其他" id="其他_您以前與亞東醫院的互動關係為" name="Q4">
        <label class="form-check-label">其他</label>
        <input type="text" name="Q4else" />
    </div>
    <hr />
    <div id="Q5">
        <h4>五、您是否曾經或正在其他機構擔任志工?是(續填下方內容),否?</h4>
        <label class="form-check-label">服務的單位為</label>
        <input type="text" name="Q5unit" class="success-text border" />
        <label class="form-check-label">,</label>
        <label class="form-check-label">約有幾年服務經驗 </label>
        <input type="text" name="Q5years" class="align-content-around border" />
        <label class="form-check-label">工作內容為</label>
        <input type="text" name="Q5content" class="form-text border" />
        <label class="form-check-label">您目前有服務紀錄冊嗎</label>
        <input type="checkbox" value="1" id="是否有紀錄冊" name="Q5" />有
    </div>
    <hr />
    <div id="Q6">
        <h4>六、您曾經從事過的工作(非志工職)為? </h4>
        <input type="text" name="Q6jobs" class="success-text border" />
    </div>
    <hr />
    <div id="Q7">
        <h4>七、您在未來的一年內是否會找工作? </h4>
        <input type="checkbox" value="1是" id="是否找工作" name="Q7" />未來一年會找工作
    </div>
    <hr />
    <div id="Q8">
        <h4>八、您到醫院的交通工具為?(可複選) </h4>
        <input class="form-check-input" type="checkbox" value="1公車" id="公車" name="Q8">
        <label class="form-check-label">公車</label>
        <input class="form-check-input" type="checkbox" value="2機車" id="機車" name="Q8">
        <label class="form-check-label">機車</label>
        <input class="form-check-input" type="checkbox" value="3捷運" id="捷運" name="Q8">
        <label class="form-check-label">捷運</label>
        <input class="form-check-input" type="checkbox" value="4開車" id="開車" name="Q8">
        <label class="form-check-label">開車</label>
        <input class="form-check-input" type="checkbox" value="5火車" id="火車" name="Q8">
        <label class="form-check-label">火車</label>
        <input class="form-check-input" type="checkbox" value="6腳踏車" id="腳踏車" name="Q8">
        <label class="form-check-label">腳踏車</label>
        <input class="form-check-input" type="checkbox" value="7走路" id="走路" name="Q8">
        <label class="form-check-label">走路</label>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">確定</button>
</form>