@section Home_style{
    <style>
        .fontstyle {
            font-size: 20px;
            font-family: 微軟正黑體;
        }
    </style>    
}

<div class="row">
    <div class="blog-main fontstyle">
        <p>申請須知</p>
        <hr />
        <p>本院志願服務隊抱著提供民眾和善服務與減少民眾醫療障礙的使命，竭盡所能在助人制度層面不斷精進，期許服務能貼近人心，無酬奉獻的志工，也需要大家的鼓勵，您們的支持是志工最大的動力，有興趣的您歡迎一同加入志工的行列。</p>
        <p>&nbsp;</p>
        <p>一、報名資格</p>
        <p>具服務熱忱、主動、有責任感，願意提供走動服務者。</p>
        <p>十六歲以上，男女不拘</p>
        <p>可以持續服務一年以上，並固定排班</p>
        <p>&nbsp;</p>
        <p>二、報名時間</p>
        <p>1月：電話報名，並預約面談時間。</p>
        <p>2月：與志工督導面談，並初步討論服務時間及組別。</p>
        <p>3月：依志願服務法，參與基礎訓練及特殊訓練共20小時，其內容包括：志院服務倫理、志願服務法規、院區導覽等課程。</p>
        <p>4月：4月1日起開始於本院值班至隔年3月31日為一期。</p>
        <p>&nbsp;</p>
        <a href="~/Home/NewVolunteer/2" class="btn btn-success">確定</a>
    </div>
</div>


