
<div class="btn btn-block fontstyle">
    <h2 id="Pv_title">申請完成</h2>
    <hr />
</div>
<div class="container">
    <div class="row align-items-center">
        <img src="~/Images/IMG_8403.JPG" style="width:800px;height:500px" />
    </div>
    <div class="text-center"><span><label style="font-size:larger">感謝申請，歡迎加入亞東醫院志工的行列</label></span></div>
</div>

