<div>
    <div class="blog-main fontstyle">
        <p>申請須知</p>
        <p>
            學生志願服務需由本院志工帶領值班，因此僅只提供服務"時段"(EX.週一上午/週二下午......等，服務時間與服務內容將由督導安排。
            <br />
            請先詳閱亞東醫院短期寒假學生志工招募計畫說明，招募計畫如下
            如有問題，可來電(02)7728-1281  洽詢簡社工師
        </p>
        <img src="~/Images/投影片1.JPG" width="600px" />

        <img src="~/Images/投影片2.JPG" width="600px" />

        <img src="~/Images/投影片3.JPG" width="600px" />
        <br />
        <br />
        <br />
        <a href="~/Student/NewVolunteer/2" class="btn btn-success">確定</a>
        <br />
        <br />


    </div>
</div>

