@model Volunteer_Web.ViewModel.Supervision_Experience_VM
@{
    ViewBag.Title = "Experience";
}

<div class="row mt-4">
    <div class="col-3">
        <div class="list-group">
            @Html.ActionLink("新增心得", "Experience_Insert", "Supervision", new { id = "insert" }, new { @class = "list-group-item list-group-item-action" })
            @foreach (var row in Model.Service_groups)
            {
                @Html.ActionLink(row.Group_name, "Experience", "Supervision", new { id = row.Group_no }, new { @class = "list-group-item list-group-item-action" })
            }
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>照片</th>
                        <th>心得標題</th>
                        <th>志工</th>
                        <th>檢視/編輯</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Experiences)
                    {
                    <tr>
                        <td><img id="img_@row.Experience_no" class="img-fluid img-thumbnail" width="300" src="~/Images/@row.Experience_photo" alt="Card image cap"></td>
                        <td>@row.Experience</td>
                        <td>@row.Volunteer</td>
                        <td><a href="~/Supervision/Detail/@row.Experience_no" class="btn btn-primary">詳細資料</a></td>
                    </tr>
                    }
                </tbody>
            </table>            
        </div>
    </div>
</div>


@section Home_script{
    <script>
        $(document).ready(function () {

        });
    </script>
}