
@{
    ViewBag.Title = "Home";
}

<style>
    button {
        /*background-color: #2faf97;
        background-image: linear-gradient(45deg, #2faf97 0%, #50bac4 100%);*/
        background-color: #585858;
        background-image: linear-gradient(45deg, #585858 0%, #ababab 100%);
        width: 250px;
        color: #fff;
        border: none;
        position: relative;
        height: 60px;
        font-size: 18px;
        margin-bottom: 10px;
        padding: 0 2em;
        cursor: pointer;
        transition: 800ms ease all;
        outline: none;
    }

        button:hover {
            background: #fff;
            color: #585858;
        }

        button:before, button:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background-color: #585858;
            background-image: linear-gradient(45deg, #585858 0%, #ababab 100%);
            transition: 400ms ease all;
        }

        button:focus {
            outline: none;
        }

        button:after {
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
        }

        button:hover:before, button:hover:after {
            width: 100%;
            transition: 800ms ease all;
        }
</style>

<div class="row">
    <div class="col-3" style="margin-top:100px">
        <button onclick="location.href='/ManpowerApply/Insert'">年度人力需求申請</button>
        <button onclick="location.href='/ManpowerApply/TemporaryInsert'">臨時人力需求申請</button>
        <button onclick="location.href='/ManpowerApply/Index'">申請狀態查詢</button>
    </div>
        <div class="col-9" style="margin-top:100px">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2" valign="top">
                            <table border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#FFFFFF">
                                <tbody>
                                    <tr>
                                        <td valign="top" bgcolor="#DFEEB3" class="footer_info"><div align="center">主　　旨</div></td>
                                        <td width="513" bgcolor="#F5FAE7" class="red">人力需求申請須知</td>
                                    </tr>
                                    <tr>
                                        <td width="71" valign="top" nowrap="nowrap" bgcolor="#DFEEB3" class="footer_info"><div align="center">需求評估</div></td>
                                        <td valign="top" bgcolor="#ECF5D1" class="text">
                                            <ol style="list-style-type:none">
                                                <li>若單位有長期志工需求，請於每年11月30日以前填寫「年度人力需求申請」，社工室將進行評估並於兩週後回覆</li>                                                
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" bgcolor="#DFEEB3" class="footer_info"><p align="center" class="footer_info">申請說明</p></td>
                                        <td valign="top" class="text">
                                            <ol style="list-style-type:none">
                                                <li>
                                                    各運用單位於服務前擬定志願服務計畫，志願服務計畫應包括志願服務人員之召募、訓練、管理、運用、輔導、考核及其服務項目。依據志願服務法第七條規定，各類單位以下列方式辦理志願服務計畫備案及成果備查<br>
                                                    <br>
                                                </li>
                                                <li>
                                                    一、於本院提供志願服務之法人或經政府立案團體：<br>
                                                    <br>
                                                </li>
                                                <li>
                                                    1.章程未載立存立目的與志願服務計畫相符者，應於運用前，檢具志願服務計畫及立案登記證書影本，送主管機關及該志願服務計畫目的事業主管機關備案。<br>
                                                    <br>
                                                </li>
                                                <li>
                                                    2.章程所載立存立目的與志願服務計畫相符者，免於運用申請備案，但應於年度結束後二月內，將辦理情形函報主管機關及目的事業主管機關備查。<br>
                                                    <br>
                                                </li>
                                                <li>
                                                    二、本市各級政府機關、機構、公立學校：應於年度結束後二月內，將辦理情形函報主管機關及目的事業主管機關備查。請每年度年初填報臺北市推展志願服務概況表，送目的事業主管機關與社會局，俾利完成年度備查。<br>
                                                    <br>
                                                </li>
                                                <li>
                                                    三、志願服務運用單位未依規定辦理備案、備查時，志願服務計畫目的事業主管機關應不予經費補助，並作為服務績效考核之依據。<br>
                                                    <br>
                                                </li>                                            
                                            </ol>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
</div>