
@{
    ViewBag.Title = "Insert";
}
<h2>年度人力申請</h2>
<div class="panel-body">
    <form class="form-horizontal" method="post" action="~/ManpowerApply/Insert" role="form">
        <div class="form-group">
            <label for="Applicant" class="col-md-4 control-label">申請人</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Applicant" placeholder="必填" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Applicant_phone" class="col-md-4 control-label">電話</label>
            <div class="col-md-8">
                <input type="tel" class="form-control" name="Applicant_phone" placeholder="必填" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Work_place" class="col-md-4 control-label">值班地點</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Work_place" placeholder="必填" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">需求時段及人數</label>
            <div div class="col-md-8">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#selectModal">請選擇</button>
                <!-- Modal -->
                <div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="selectModalLabel" aria-hidden="true" >
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="selectModalLabel">需求時段及人數</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" >
                                <div class="row">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>星期一</th>
                                                <th>星期二</th>
                                                <th>星期三</th>
                                                <th>星期四</th>
                                                <th>星期五</th>
                                                <th>星期六</th>
                                                <th>星期日</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>上午班：08:30~11:30</td>
                                                                                               
                                                <td><input type="text" class="form-control form-control-sm countP" id="m1"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="m2"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="m3"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="m4"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="m5"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="m6"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="m7"/>人</td>
                                            </tr>
                                            <tr>
                                                <td>下午班：13:30~16:30</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="af1"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="af2"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="af3"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="af4"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="af5"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="af6"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="af7"/>人</td>
                                            </tr>
                                            <tr>
                                                <td>夜間班：18:00~21:00</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="n1"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="n2"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="n3"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="n4"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="n5"/>人</td>
                                            </tr>
                                            <tr>
                                                <td>支援班：11:30~13:30</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="as1"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="as2"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="as3"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="as4"/>人</td>
                                                <td><input type="text" class="form-control form-control-sm countP" id="as5"/>人</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="IsCh">確定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Apply_description" class="col-md-4 control-label">志工工作項目與流程</label>
            <div class="col-md-8">
                <textarea class="form-control" name="Apply_description" rows="4" placeholder="必填" autocomplete="off" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="Application_unit_Supervisor" class="col-md-4 control-label">單位主管</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Application_unit_Supervisor" placeholder="必填" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Application_unit_heads" class="col-md-4 control-label">部門主管</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Application_unit_heads" placeholder="必填" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" id="sbt" class="btn btn-info" onclick="return confirm('確定要提交申請嗎？')">提交申請</button>
                <button type="reset" class="btn btn-info">重新輸入</button>
            </div>
        </div>
    </form>
</div>
<input id="count" type="hidden"/>

@section Home_script{
    <script>
        $(document).ready(function () {
            var count = 0;
            $("#IsCh").click(function () {//按下班表確定按鈕                
                
                $(".countP").each(function () {
                    if ($(this).val() == "") {
                        $(this).val("0");
                    }
                    if ($(this).val() != "" ) {
                        var c = parseInt($(this).val());
                        count += c;
                    }      
                })
                var morning = [];
                var afternoon = [];
                var night = [];
                var assistance = [];              

                morning.push($("#m1").val());
                morning.push($("#m2").val());
                morning.push($("#m3").val());
                morning.push($("#m4").val());
                morning.push($("#m5").val());
                morning.push($("#m6").val());
                morning.push($("#m7").val());

                afternoon.push($("#af1").val());
                afternoon.push($("#af2").val());
                afternoon.push($("#af3").val());
                afternoon.push($("#af4").val());
                afternoon.push($("#af5").val());
                afternoon.push($("#af6").val());
                afternoon.push($("#af7").val());
                
                night.push($("#n1").val());
                night.push($("#n2").val());
                night.push($("#n3").val());
                night.push($("#n4").val());
                night.push($("#n5").val());                               

                assistance.push($("#as1").val());
                assistance.push($("#as2").val());
                assistance.push($("#as3").val());
                assistance.push($("#as4").val());
                assistance.push($("#as5").val());

                $("#count").val(count);
                document.cookie = "countPeple=" + count + ";path=/";//有時間參透一下
                document.cookie = "morning=" + morning.toString() + ";path=/"
                document.cookie = "afternoon=" + afternoon.toString() + ";path=/"
                document.cookie = "night=" + night.toString() + ";path=/"
                document.cookie = "assistance=" + assistance.toString() + ";path=/"
                count = 0;
            })

            $("#sbt").click(function () {//按下提交申請按鈕

                $(".countP").each(function () {
                    if ($(this).val() == "") {
                        $(this).val("0");
                    }
                    if ($(this).val() != "") {
                        var c = parseInt($(this).val());
                        count += c;
                    }
                })
                var morning = [];
                var afternoon = [];
                var night = [];
                var assistance = [];

                morning.push($("#m1").val());
                morning.push($("#m2").val());
                morning.push($("#m3").val());
                morning.push($("#m4").val());
                morning.push($("#m5").val());
                morning.push($("#m6").val());
                morning.push($("#m7").val());

                afternoon.push($("#af1").val());
                afternoon.push($("#af2").val());
                afternoon.push($("#af3").val());
                afternoon.push($("#af4").val());
                afternoon.push($("#af5").val());
                afternoon.push($("#af6").val());
                afternoon.push($("#af7").val());

                night.push($("#n1").val());
                night.push($("#n2").val());
                night.push($("#n3").val());
                night.push($("#n4").val());
                night.push($("#n5").val());

                assistance.push($("#as1").val());
                assistance.push($("#as2").val());
                assistance.push($("#as3").val());
                assistance.push($("#as4").val());
                assistance.push($("#as5").val());

                $("#count").val(count);
                document.cookie = "countPeple=" + count + ";path=/";//有時間參透一下
                document.cookie = "morning=" + morning.toString() + ";path=/"
                document.cookie = "afternoon=" + afternoon.toString() + ";path=/"
                document.cookie = "night=" + night.toString() + ";path=/"
                document.cookie = "assistance=" + assistance.toString() + ";path=/"
                count = 0;
            })
        })

        
    </script>

}
